<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU-8y2u-kRv8zJ81vIc8m4qGPyH1cGU0c</string>
	<key>GCM_SENDER_ID</key>
	<string>793736621612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stageStories</string>
	<key>PROJECT_ID</key>
	<string>stage-stories-63fcb</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-stories-63fcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793736621612:ios:2eba90d04755f87c956b89</string>
</dict>
</plist>